// color variables

$primary-color: #d9904f;
$secondary-color: #ff926e;
$secondary-color-bright: #ffaa8e;
$background-color: #daceb0;
$border-color: #1c212d;
$text-color: #1c212d;
$card-background: #ffb54e;
$shadow: #472925;
$white: #fefefe;

// font variables

$accent-font: "area-normal", sans-serif;
$body-font: "articulat-cf", sans-serif;
$header-font: "indivisible", sans-serif;

//size variables
$nav-height: 300px;
$side-border-width: clamp(25px, 8vw, 80px);
