@use "../../../sass/variables" as *;

.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba($shadow, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.dialog {
  background-color: $white;
  border-radius: 20px;
  max-width: 520px;
  min-height: 220px;
  height: auto;
  width: 100%;
  box-shadow: 2px 2px 12px $shadow;

  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: clamp(1rem, 1.2vw, 1.8rem);
  text-wrap: wrap;
}

.dialog:focus {
  outline: none;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  gap: 1rem;
  transition: all 0.3s ease-in-out;
}

.modalTitle {
  font-size: clamp(1.2rem, 1.6vw, 2rem);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.content button {
  margin-top: 1rem;
}

.content button:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
